@font-face {
	font-family: 'default';
	src: url(../style/fonts/default.TTF)
}
body{
     background-color: #4d243d;
     color: white;
     font-family: '04B_19__';
     /*overflow-y: hidden;
     overflow-x: hidden;*/
}
body img{
     position: absolute;
     top: -11%;
     left: 0%;
}
.tile{
     position: relative;
     display: inline-block;
     z-index: 10;
     top: 10%;
     left: 30%;
}
.tile img{
     position: relative;
     left: 30%;
     margin-left: -4px;
     margin-top: -4px;
     border: #1b1b1f;
     border-style: solid;
     border-width: 1px;
     z-index: 10;
}
.hunter{
     position: absolute;
     top: 6.5%;
     left: -0.5%;
}
.hunter img{
     border-style: none;
}
.hunter h2{
     position: relative;
     font-family: 'default';
     color: white;
}
.selectdweller {
     position: absolute;
     top: -2%;
     left: 114%;
     z-index: 25;
}
.selectdweller p{
     position: absolute;
     margin-top: -6px;
     font-family: 'default';
     color: #ff0054;
}
.dwellershud{
     position: absolute;
     top: 0%;
     left: 0%;
     height: 99.2%;
     width: 17.8%;
     background-color: #4d243d;
     border: #2f001c;
     border-style: solid;
     border-width: 8px;
     box-shadow: 5px 2px 7px #1b1b1f;
     z-index: 5;
}
.dwellershud h2{
     font-family: 'default';
     color: #b8c480;
     font-size: 45px;
     margin-left: 55px;
     letter-spacing: 2px;
     z-index: 5;
     -webkit-text-stroke-width: 2px;
     -webkit-text-stroke-color: #1b1b1f;
     font-size: 3em; color: #b8c480;
}
.dwellershud img{
     position: absolute;
     top: 0%;
     z-index: -1;
}
.boardhud{
     position: absolute;
     height: 832px;
     width: 833px;
     left: 30.6%;
     top: 10%;
     background-color: #1b1b1f;
     border: #1b1b1f;
     border-style: solid;
     border-width: 2px;
     box-shadow: 10px 10px 15px #1b1b1f;
     z-index: 1;
}
.dwellerslist {
     position: absolute;
     margin-top: 4%;
     left: 0.5%;
     font-family: 'default';
     color: #1b1b1f;
     z-index: 12;
}
.dwellerslist a{
     position: relative;
     font-family: 'default';
     color: #b8c480;
     -webkit-text-stroke-width: 2px;
     -webkit-text-stroke-color: #1b1b1f;
     font-size: 28px; color: #b8c480;
     text-decoration: none;
     line-height: 110%;
}
.dwellerslist a:hover{
     position: relative;
     font-family: 'default';
     color: #b8c480;
     -webkit-text-stroke-width: 2px;
     -webkit-text-stroke-color: #1b1b1f;
     font-size: 28px; color: white;
     text-decoration: none;
     line-height: 110%;
}
.chunkleft a{
     position: absolute;
     left: 80%;
}
.dwellerselectscripthud{
     position: relative;
     z-index: 30;
}
.chunktravel16x{
     position: absolute;
     font-size: 32px;
     top: 11.5%;
     left: 76%;
     color: #ff0054;
     font-family: 'default';
     z-index: 50;
}
.chunktravel16x a{
     text-decoration: none;
     color: #ff0054;
     z-index: 50;
}
.chunktravel16y{
     position: absolute;
     font-size: 34px;
     top: 6.5%;
     left: 73.5%;
     color: #ff0054;
     font-family: 'default';
     z-index: 50;
     transform: rotate(-90deg);
}
.chunktravel16y a{
     text-decoration: none;
     color: #ff0054;
     z-index: 50;
}
.chunktravel1x{
     position: absolute;
     font-size: 34px;
     top: 10.7%;
     left: 29.2%;
     color: #ff0054;
     font-family: 'default';
     z-index: 50;
     transform: rotate(-180deg);
}
.chunktravel1x a{
     text-decoration: none;
     color: #ff0054;
     z-index: 50;
}

